<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/interesse.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal Veiculos - Seu portao de acesso para compra e venda de veículos seminovos.">
    <title>Portal Veiculos</title>
</head>
<body>
    <header>
        <h1>Portal Veiculos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="cadastro.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
    <main>
        <h2>Interesse em Veículos</h2>
        <p>Para manifestar interesse em um veículo, preencha o formulário abaixo:</p>
        <form action="#" method="POST">
            <input type="text" id="nome" name="nome" required placeholder="Seu Nome">

            <input type="tel" id="telefone" name="telefone" required placeholder="Seu Telefone">

            <textarea id="mensagem" name="mensagem" rows="4" placeholder="Sua Mensagem"></textarea>

            <button type="submit">Enviar Interesse</button>
        </form>
    </main>
    <footer>
        <p>Venda de carros roubados</p>
    </footer>
    <script src="../js/home.js"></script>
</body>
</html>
