<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal Veiculos - Seu portao de acesso para compra e venda de veículos seminovos.">
    <title>Portal Veiculos</title>
</head>
<body>
    <header>
        <h1>Portal Veiculos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="cadastro.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
    <main>
        <div class="search-section">
            <select id="marca" name="marca">
                <option value="">Selecione a Marca</option>
                <option value="fiat">Fiat</option>
                <option value="ford">Ford</option>
                <option value="chevrolet">Chevrolet</option>
                <option value="toyota">Toyota</option>
            </select>
            <select id="modelo" name="modelo">
                <option value="">Selecione o Modelo</option>
                <option value="uno">Uno</option>
                <option value="focus">Focus</option>
                <option value="onix">Onix</option>
                <option value="corolla">Corolla</option>
            </select>
            <select id="localizacao" name="localizacao">
                <option value="">Selecione a Localização</option>
                <option value="uberlandia">Uberlândia</option>
                <option value="sao-paulo">São Paulo</option>
                <option value="rio-de-janeiro">Rio de Janeiro</option>
            </select>
        </div>
        <div class="container">
            <div class="card">
                <img src="../images/tiopatinhas.jpg" alt="Fiat Uno" height="200" width="200">
                <h2>Fiat Uno</h2>
                <p>R$ 30.000,00</p>
            </div>
            <div class="card">
                <img src="../images/tiopatinhas.jpg" alt="Ford Focus" height="200" width="200">
                <h2>Ford Focus</h2>
                <p>R$ 45.000,00</p>
            </div>
            <div class="card">
                <img src="../images/tiopatinhas.jpg" alt="Chevrolet Onix" height="200" width="200">
                <h2>Chevrolet Onix</h2>
                <p>R$ 40.000,00</p>
            </div>
            <div class="card">
                <img src="../images/tiopatinhas.jpg" alt="Toyota Corolla" height="200" width="200">
                <h2>Toyota Corolla</h2>
                <p>R$ 80.000,00</p>
            </div>
        </div>
    </main>
    <footer>
        <p>Contato: (34) 3239-4411 | Endereço: Av. João Naves de Ávila, 2121 - Santa Mônica, Uberlândia - MG, 38408-100</p>
    </footer>
</body>
</html>
