input[required] {
    background-color: #fffacd;
}

input[id="nome"]:invalid,
input[id="cpf"]:invalid,
input[id="cep"]:invalid {
    background-color: lightcoral
}

/* 10. Cor de fundo para campos textuais com conteúdo VÁLIDO */
input[id="nome"]:valid,
input[id="cpf"]:valid,
input[id="cep"]:valid {
    background-color: lightgreen;
}

input[id="nome"]:invalid + span::after,
input[id="cpf"]:invalid + span::after,
input[id="cep"]:invalid + span::after{
    content: "✖";
    color: red;
    
}

input[id="nome"]:valid + span::after,
input[id="cpf"]:valid + span::after,
input[id="cep"]:valid + span::after {
    content: "✓";
    color: green;
    background-color: lightgreen;
}


#nome {
    font-weight: bold;
    color: darkblue;
}


.tituloprincipal{
    font-size: 24px;
}


h1 + p {
    font-size: 14px;
    color: #555;
}


label ~ input {
    margin-left: 10px;
}


a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: darkred;
}
a:active {
    color: purple;
}


h2:has p {
    background-color: green;
}


:is(h1, h2, h3) {
    font-family: Arial, sans-serif;
    color: navy;
}

section:first-child {
    border-top: 3px solid black;
}


label:first-of-type {
    font-weight: bold;
}

fieldset{
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}

:placeholder-shown{
    color: gray;
    font-style: italic;
}