<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Veículo Já!</title>
  <link rel="stylesheet" href="../../styles.css" />
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <img src="../../images/logo.png" alt="Logotipo" />
        <h1>Veículo Já!</h1>
      </div>
      <nav>
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="cadastro.html">Cadastro</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <main>
    <section class="form-section">
      <h2>Cadastro de Usuário</h2>
      <form id="form-cadastro">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" placeholder="Seu nome completo" required>
        </div>
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" name="cpf" placeholder="Seu CPF" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" placeholder="Seu e-mail" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" placeholder="Sua senha" required>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" id="telefone" name="telefone" placeholder="Seu telefone" required>
        </div>
        <button id="submit_btn" type="submit">Cadastrar</button>
      </form>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2025 Portal Veículo Já! Todos os direitos reservados.</p>
  </footer>

  <script>
   //onclick no botao de cadastro
    document.querySelector("#form-cadastro").addEventListener("submit", async function (e) {
      e.preventDefault();

      const formData = new FormData();
      formData.append("nome", document.querySelector("#nome").value);
      formData.append("cpf", document.querySelector("#cpf").value);
      formData.append("email", document.querySelector("#email").value);
      formData.append("senha", document.querySelector("#senha").value);
      formData.append("telefone", document.querySelector("#telefone").value);

      const resposta = await fetch("../../controladorPublico.php?acao=criarAnunciante", {
        method: "POST",
        body: formData,
      });


      if (resposta.ok) {
        alert("Cadastro realizado com sucesso!");
        window.location.href = "login.html";
      } else {
        alert("Erro ao cadastrar: " + resultado.mensagem);
      }
    });
  </script>
</body>
</html>
