body {
    background-color: #d6d4d4;
    color: #616161;
    width: 70%;
    margin: auto;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 15px;
    margin: 10px 0;
}

/* Não precisamos mais estilizar a navegação aqui, o Bootstrap cuida disso */
.navbar {
    margin: 10px 0;
}

main {
    background-color: white;
    color: #616161;
    text-align: left;
    padding: 10px 0;
    border-radius: 15px;
    margin: 10px 0;
}

@media (max-width: 600px) {
    header, footer, main {
        width: 100%;
        margin: 10px auto;
        border-radius: 0;
    }
}

h2 {
    margin: 0;
    color: #616161;
    padding: 10px;
}

img {
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.container img {
    flex: 1 0 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .container img {
        flex: 1 0 calc(33.333% - 20px);
    }
}

@media (max-width: 600px) {
    .container img {
        flex: 1 0 calc(50% - 20px);
    }
}

@media (max-width: 400px) {
    .container img {
        flex: 1 0 100%;
    }
}