<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../css/mainUserPage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Portal Veiculos - Seu portao de acesso para compra e venda de veículos seminovos.">
    <title>Portal Veiculos</title>
</head>

<body>
    <header>
        <h1>Portal Veiculos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="mainUserPage.html">Dashboard</a></li>
            <li><a href="criaAnuncios.html">Criar Anúncio</a></li>
            <li><a href="listagemAnuncios.html">Meus Anúncios</a></li>
            <li><a href="../public/home.html">Home</a></li>
            <li><a href="#" id="logoutLink">Sair</a></li>
        </ul>
    </nav>
    <footer>
        <p>Venda de carros roubados</p>
    </footer>
</body>

</html>