body{
    background-color: #d6d4d4;
    color: #616161;
    padding: 0;
    margin: 0;

}

header{
    text-align: center;
    font-size: 18px;
}

li{
    display: inline;
    margin: 0 1%;
    padding: 10px;
}

a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}

nav{
    padding: 0;
    background-color: #616161;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
}

main{
    box-sizing: border-box;
    background-color: white;
    border: #a3a3a3 1px solid;
    width: 70%;
    padding: 2%;
    margin: 0 auto;
}
footer{
    text-align: center;
    color: black;
}

.search-section{
    justify-content: center;
    margin: 20px 0;
    display:flex;
    align-items: center;
}

ul{
    margin: 0;
    padding: 10px 0;
}

.search-section select{
    width: 60%;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    min-width: 175px;
    min-height: 250px;
    font-size: 50%;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

@media (max-width:900px){
    .search-section{
        flex-direction: column;
        margin: 20px auto;

    }
    .search-section select{
        min-width: 185px;
        width: 100%;
    }
}

